[submodule "thought-anchors"]
	path = thought-anchors
	url = https://github.com/interp-reasoning/thought-anchors
[submodule "ao_reference"]
	path = ao_reference
	url = https://github.com/adamkarvonen/activation_oracles
[submodule "frugal-thought-anchors"]
	path = frugal-thought-anchors
	url = https://github.com/vabruzzo/frugal-thought-anchors.git
[submodule "thought-branches"]
	path = thought-branches
	url = https://github.com/interp-reasoning/thought-branches/
[submodule "chainscope"]
	path = chainscope
	url = https://github.com/jettjaniak/chainscope.git
