[submodule "thought-anchors"]
	path = thought-anchors
	url = https://github.com/interp-reasoning/thought-anchors
[submodule "ao_reference"]
	path = ao_reference
	url = https://github.com/adamkarvonen/activation_oracles
